<ul>
    <li><a href="{{ path('theodo_imagine_formation_presentation') }}" >{{ 'Presentation' }}</a></li>
    <li><a href="{{ path('theodo_imagine_formation_demo_useFilter') }}" >{{ 'Use Filters' }}</a></li>
    <li><a href="{{ path('theodo_imagine_formation_demo_useTransformation') }}" >{{ 'Use Transformation' }}</a></li>
    <li><a href="{{ path('theodo_imagine_formation_demo_displayOriginal') }}" >{{ 'Display Original' }}</a></li>
    <li><a href="{{ path('theodo_imagine_formation_demo_displayDestination') }}" >{{ 'Display Destination' }}</a></li>
</ul>
